@charset "utf-8";

body
{
    background-color: black;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
}


#userData
{
    margin-top: -15px;
    background-color: rgba(27, 27, 27, 0.76);
}

.blanco
{
    color: white;
}

#colorWinLoss
{
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
}

#matchData
{
    background-color: rgba(27, 27, 27, 0.76);
}

.match
{
    background-color: rgba(27, 27, 27, 0.82);
}


.Division{
    float: right;
    width: 25px;
    height: 25px;
    border: 2px solid #000000;
    margin-right: 150px;
 }

.fake_img{
    display:inline-block;
    margin: 1px 0.0001em;
    border:1px solid #122b40;
}

.info
{
    color: white;
    font-size: 0.7em;
}
/* css para tooltip items */
unique {
    color: darkorange;
}

passive {
    color: #ff3c1d;
}

active {
    color: royalblue;
}

nombreItem {
    color: #4fe4ff;
}
flavorText {
    color: #fdff38;
    font-style: oblique;
}

stats{
    color: limegreen;
}

grouplimit{
    color: #9152e6;
}


.input-mini { width: 60px; } .input-small { width: 90px; } .input-medium { width: 150px; } .input-large { width: 210px; } .input-xlarge { width: 270px; } .input-xxlarge { width: 530px; }

/* coloca color verde a LoL */
.active a{
    color: #217419 !important;
}


.navbar .brand, .navbar .nav > li > a:hover {
    color: red;
}

/* boton buscar */
.btn-WoT
{
    background-image: linear-gradient(to bottom, #3dac12 0, #154011 100%);
    border-color: #397934;

}

.btn-WoT:hover
{
    color: #fff;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(to bottom, #41ca12 0, #1e5f1a 100%);
    border-color: #397934;
}

.btn:focus, .btn.active:focus
{
    color: #fff;
    outline: 0 none;
}

.btn:active:focus
{
    color: #fff;
    outline: 1px solid #05ff00;
}

/*div cargando */

/* css imagen */

.imagen_centro
{
    width: 60%; margin: 0 auto;
}

.text_id
{
    text-align: center;
    color: #51504B;
    font-size: 11px;
    margin-top: 3px;
}

.cargando
{
    position:fixed;
    z-index: 100;
    width:100%;
    height:50%;
    background: rgba(0, 0, 0, 0.68) url(../img/ajax-loader.gif) no-repeat center;
}

.evento
{
    color: #fff9c2;
    text-shadow: 0 0 3px #FF0000;
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* practicando edicion css colores nav-tab */
.nav-tabs
{
    border-bottom: 1px solid #2c2c2c;
}

.nav-tabs > li,
.nav-tabs > li > a,
.nav-pills > li,
.nav-pills > li > a
{
    font-size: 12px;
    font-family: 'Fjalla One', sans-serif;
    color: #757154;
    text-shadow: 0 0 3px #226c1c;
}

.nav-tabs > li > a:hover
{
    color: #b2aeae;
    text-shadow: 0 0 3px #46e03b;
    background-color: #0c0c0c;
    border: transparent;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    color: #fffafa !important;
    text-shadow: 0 0 4px #3be022;
    border: 1px solid #252525;
    border-bottom: 1px solid #000000;
    background-color: black;
}

/* partida actual */

.fondo_partida
{
    background-color: rgba(27, 27, 27, 0.47);
}

.table>tbody>tr>td
{  border-top: 1px solid #606060;  }

th {
     text-align: center;
}

.center
{
    text-align: center;
}

.tabla-100>thead>tr>td, .tabla-100>thead>tr>th {
    background-color: #1f93d3;
    font-size: 12px;
    color: white;
    white-space: nowrap;
}

.tabla-100 tbody tr:nth-child(odd) td {
    background: rgba(15, 15, 15, 0.41);
    font-size: 12px;
    vertical-align: middle;
}

.tabla-100 tbody tr:nth-child(even) td {
    background: rgba(31, 147, 211, 0.42);
    font-size: 12px;
    vertical-align: middle;
}

.tabla-200>thead>tr>td, .tabla-200>thead>tr>th {
    background-color: #d30d0c;
    font-size: 12px;
    color: white;
    white-space: nowrap;
}

.tabla-200 tbody tr:nth-child(odd) td {
    background: rgba(15, 15, 15, 0.41);
    font-size: 12px;
    vertical-align: middle;
}

.tabla-200 tbody tr:nth-child(even) td {
    background: rgba(211, 1, 7, 0.42);
    font-size: 12px;
    vertical-align: middle;
}

.tabla-seleccionado {
    background: rgba(211, 203, 62, 0.57);
}

.tipo_partida
{
    position: relative;
    display: block;
    padding: 10px 15px;
    /*border: 1px solid #848888;*/
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.52);
}

.tipo_partida>small {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #bec4c4;
    font-size: 11px;
    color: #ffffff;
    font-weight: normal;
}

table tbody tr td .summoner-spells {
    float: left;
    position: relative;
    width: 13px;
    height: 28px;
    margin-left: 2px;
}

.summoner-spells .summoner-spell {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 0;
    left: 0;
}

.summoner-spells .summoner-spell+.summoner-spell {
    bottom: 0;
    top: auto;
}

table tbody tr td span {
    line-height: 28px;
    padding-left: 6px;
}