body
{
    background-color: black;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
}

.menu
{
    background-color: #0c0c0c;
    margin-top: -15px;
    margin-bottom: 30px;
}

/* practicando edicion css colores nav-tab */
.nav-tabs
{
    border-bottom: 1px solid #2c2c2c;
}

.nav-tabs > li,
.nav-tabs > li > a
{
    font-size: 12px;
    font-family: 'Fjalla One', sans-serif;
    color: #474747;
}

.nav-tabs > li > a:hover
{
    color: #fff9c2;
    text-shadow: 0 0 3px #FF0000;
    background-color: #0c0c0c;
    border: transparent;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    color: #fff9c2 !important;
    text-shadow: 0 0 3px #FF0000;
    border: 1px solid #252525;
    border-bottom: 1px solid #000000;
    background-color: black;
}

/* fin codigo css tabs */
/* practicando css texto informacion css */

.valor
{
    font-size: 17px;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);


}

.contenedor
{
    display:flex;
}

.barrita
{
    width: 100%;
    margin: 0 auto;
}

.imagen_texto
{
    flex-grow: 1;
}

.barrita:after {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 25px;
    height  : 1px;
    width   : 28%;  /* or 100px */
    border-bottom:1px solid #2E2F2A;
}


.name_valor
{
    color: #51504B;
    margin-top: -10px;
    font-size: 10px;
}

/* css para el buscador */

.btn-WoT
{
    background-image: linear-gradient(to bottom,#5D4D4D 0,#000000 100%);
    border-color: #79794a;
}

.btn:hover
{
    color: #fff;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(to bottom,#5D4D4D 0,#000000 100%);
    border-color: #79794a;
}

.btn:focus, .btn.active:focus
{
    color: #fff;
    outline: 0 none;
}

.btn:active:focus
{
    color: #fff;
    outline: 1px solid #eeebba;
}


input, textarea{
    background-color: #363636 !important;
    color: #fff9c2 !important;
    text-shadow: 0 0 3px #FF0000;
}

.form-control::-moz-placeholder
{
    color: #79794a;
}

.form-control::-webkit-input-placeholder
{
    color: #79794a;
}

.form-control:-ms-input-placeholder
{
    color: #79794a;
}

.form-control
{
    border: 1px solid #807d61;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(121, 121, 74, 0.6);
}

.form-control:focus
{
    border-color: #fff9c2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 197, 153, 0.75);
}

/* css imagen */

.imagen_centro
{
    width: 60%; margin: 0 auto;
}

.text_id
{
    text-align: center;
    color: #51504B;
    font-size: 11px;
    margin-top: 3px;
}

.cargando
{
    position:fixed;
    z-index: 100;
    width:100%;
    height:50%;
    background: rgba(0, 0, 0, 0.58) url(../img/ajax-loader.gif) no-repeat center;
}

.evento
{
    color: #fff9c2;
    text-shadow: 0 0 3px #FF0000;
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*     ===========                                      ================
/*     ===========                                      ================
/*     ===========             DIV LOGROS               ================
/*     ===========                                      ================
/*     ===========                                      ================ */

.opaco
{
    opacity: .2;
}

.tipso_style
{
    border-bottom: transparent !important;
}

.b-achivements_wrpr {
    bottom: 5px;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    color: #b1b2b2;
    font-family: Arial,"Helvetica CY",Helvetica,sans-serif;
}

.b-achivements_num {
    border: 1px solid #5b5b5b;
    font-size: 11px;
    display: inline-block;
    box-shadow: 0 10px 10px 1px rgba(0,0,0,0.6),0 0 9px 1px rgba(255,255,255,0.05),0 2px 5px 1px rgba(151, 151, 151, 0.59),0 0 13px 1px rgba(0,0,0,0.75);
}

.b-achivements_num span {
    background: url("http://static-ptl-us.gcdn.co/static/3.35.4/common/css/scss/content/user/img/chivements-num.gif") repeat-x 0 0 #4f1514;
    border: 1px solid #2c0909;
    color: #fff;
    padding: 0 3px;
    text-shadow: 0 0 25px #000, 0 0 10px rgba(255, 255, 190, 0.39);
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}